<section class="content" style="margin-bottom: 30px; margin-top: 1.5rem;">
    <div class="pad-left">

        <div class="page-header">
            <h2 class="title has-text-weight-medium" style="margin-bottom: 0;">
                WoodWOWY
                <span class="subtitle">See how one player does with and without a player</span>
            </h2>
        </div>

        <form class="filters-form x-wm-filters" method="get" style="padding-top:30px;">

            <div class="level-left">
                <div class="level-item" style="width: 400px; justify-content: left;">
                    <% if(player) { %>
                        <input class="x-player" name="player" type="hidden" value="<%= player._id%>" />
                        <div class="x-player-info">
                            <span class="subtitle is-5"><%= player.name %></span>
                            <small><%= player.positions %></small>
                            <a class="x-change-player" style="margin-left: 17px;">change</a>
                        </div>
                    <% } %>
                    <div class="x-select-player" style="display: <%= player ? "none" : "inline-block"%>; position: relative;">
                        <input type="text" id="wowy-player-search" placeholder="Enter player name" class="input autocomplete-search" style="width: 250px; margin-top: 8px;" />
                        <div class="autocomplete-results x-wowy-player-results" style="display:none; text-align: left;">
                        </div>
                    </div>
                </div>
                <div class="level-item" style="width: 400px;">
                    <% if(teammate) { %>
                    <input class="x-teammate" name="teammate" type="hidden" value="<%= teammate._id%>" />
                    <div class="x-teammate-info">
                            <span class="subtitle is-5"><%= teammate.name %></span>
                            <small><%= teammate.positions %></small>
                            <a class="x-change-teammate" style="margin-left: 17px;">change</a>
                        </div>
                    <% } %>
                    <div class="x-select-teammate" style="display: <%= teammate ? "none" : "inline-block"%>; position: relative;">
                        <input type="text" id="wowy-teammate-search" placeholder="Enter teammate name" class="input autocomplete-search" style="width: 250px; margin-top: 8px;" />
                        <div class="autocomplete-results x-wowy-teammate-results" style="display:none; text-align: left;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="level x-filters" style="display: <%= (player && teammate) ? "block" : "none" %>">

                <div class="level-left" style="padding-top: 17px;">
                    <div class="level-item">
                        <span style="padding-right: 7px;">Select date range:</span>
                        <select id="season-input" name="season" class="select is-small">
                            <% if(player) { %>
                            <option value="all" <% if(request.season === "all") { %> selected <% } %>>All</option>
                            <% } %>
                            <option value="20212022" <% if(request.season === 20212022) { %> selected <% } %>>2021-22</option>
                            <option value="20202021" <% if(request.season === 20202021) { %> selected <% } %>>2020-21</option>
                            <option value="20192020" <% if(request.season === 20192020) { %> selected <% } %>>2019-20</option>
                            <option value="20182019" <% if(request.season === 20182019) { %> selected <% } %>>2018-19</option>
                            <option value="20172018" <% if(request.season === 20172018) { %> selected <% } %>>2017-18</option>
                            <option value="20162017" <% if(request.season === 20162017) { %> selected <% } %>>2016-17</option>
                            <!--<option value="20152016" <% if(request.season === 20152016) { %> selected <% } %>>2015-16</option>
                            <option value="20142015" <% if(request.season === 20142015) { %> selected <% } %>>2014-15</option>-->
                            <option value="" <% if(!!request.from_date && !!request.to_date) { %> selected <% } %>>Custom Range</option>
                        </select>
                        <% if(request.from_date && request.to_date) { %>
                            <span style="padding-left: 10px">
                            <%= request.from_date_str + " to " + request.to_date_str %>
                            <a href="#change" class="x-change-date-range">change</a>
                            </span>
                        <% } %>
                        <div id="date-range-modal" class="modal" style="height: 340px;">
                            <h4 class="subtitle is-5">Select date range for games</h4>
                            From: <input type="text" class="input x-date-range" id="dp-from" data-target="from_date" />
                            To: <input type="text" class="input x-date-range" id="dp-to" data-target="to_date" />
                            <button type="button" class="button is-extra-small is-success x-date-range-submit"><strong>Go</strong></button>
                            <div class="col-padded x-date-error" style="padding-top: 17px; color: Red; display:none;">
                            </div>
                        </div>
                        <!--not sure why this has to be outside modal div -->
                        <input type="hidden" id="from_date" name="from_date" value="" />
                        <input type="hidden" id="to_date" name="to_date" value="" />
                    </div>

                    <div class="level-item">
                        <button type="button" class="button is-extra-small is-success x-woodmoney-submit"><strong>Go</strong></button>
                    </div>
                </div>

            </div>

        </form>

    </div>
</section>

<section class="x-data-container" style="min-height: 300px;">
    <div class="puckiq-container" style="display: <%= (player && teammate) ? "flex" : "none" %>">
        <!--60+300+70+2 for border-->
        <div class="puckiq-left x-puckiq-left" style="width: 432px; flex: 0 0 432px;">
        </div>
        <div class="puckiq-right">
            <div class="syncscroll puckiq-header x-puckiq-header" name="puckiq">
            </div>
            <div class="syncscroll puckiq-data x-puckiq-data" name="puckiq">
            </div>
        </div>
    </div>
</section>

<section class="content" style="position: relative;">
    <div class="loader-wrapper x-loader">
        <div class="loader is-loading"></div>
    </div>
</section>

<section class="content has-text-centered x-no-results" style="display: none;">
    No Results
</section>

<footer class="footer content">
    <div class="has-text-centered x-download" style="display: <%= (player && teammate) ? "block" : "none" %>">
        <a href="<%= download_url %>" class="x-download">download csv</a>
    </div>
    <div class="has-text-centered">
        Provided by <strong>PuckIQ</strong>
    </div>
</footer>

<script>

    //TODO change
    var wmState = {
        request : <%- JSON.stringify(request) %>
    };

    $(document).ready(function() {

        var player_id = <%= player ? player._id : 'null'%>;
        var teammate_id = <%= teammate ? teammate._id : 'null'%>;

        new addAutoComplete($('#wowy-player-search'), $('.x-wowy-player-results'), {
            url_function : function(p) {
                if(teammate_id){
                    return '/woodwowy?player=' + p.player_id + '&teammate=' + teammate_id;
                } else {
                    return '/woodwowy?player=' + p.player_id;
                }
            }
        });

        new addAutoComplete($('#wowy-teammate-search'), $('.x-wowy-teammate-results'), {
            url_function : function(p) {
                if(player_id){
                    return '/woodwowy?player=' + player_id + '&teammate=' + p.player_id;
                } else {
                    return '/woodwowy?teammate=' + p.player_id;
                }
            }
        });

    });

</script>

<div id="woodwowy-results" style="display:none;">
    <%- JSON.stringify(results) %>
</div>

<script src="/puckiq/js/syncscroll.js"></script>
<script src="/puckiq/js/woodwowy.js"></script>
<script>
    renderPage(<%= player ? player._id : 'null'%>, <%= teammate ? teammate._id : 'null'%>);
</script>
