<div class="container-fluid" role="main">
    <div class="page-header">

        <h2><%= sub_title %> <% if(player) { %><small><%= player.positions %></small><% } %></h2>

        <form class="x-wm-filters" method="get">
            <div class="row" style="padding-top: 17px;">
                <div class="col-padded">
                    Season :
                    <select id="season-input" name="season" style="visibility:hidden">
                        <% if(player) { %>
                        <option value="all" <% if(request.season === "all") { %> selected <% } %>>All</option>
                        <% } %>
                        <option value="20182019" <% if(request.season === 20182019) { %> selected <% } %>>2018-19</option>
                        <option value="20172018" <% if(request.season === 20172018) { %> selected <% } %>>2017-18</option>
                        <option value="20162017" <% if(request.season === 20162017) { %> selected <% } %>>2016-17</option>
                        <option value="20152016" <% if(request.season === 20152016) { %> selected <% } %>>2015-16</option>
                        <option value="20142015" <% if(request.season === 20142015) { %> selected <% } %>>2014-15</option>
                    </select>
                </div>
                <div class="col-padded">
                    Competition :
                    <select id="tier" name="tier">
                        <option value="" <% if(!request.tier) { %>selected <% } %>>--select</option>
                        <option value="All" <% if(request.tier === "All") { %>selected <% } %>>All</option>
                        <option value="Elite" <% if(request.tier === "Elite") { %>selected <% } %>>Elite</option>
                        <option value="Middle" <% if(request.tier === "Middle") { %>selected <% } %>>Middle</option>
                        <option value="Gritensity" <% if(request.tier === "Gritensity") { %>selected <% } %>>Gritensity</option>
                    </select>
                </div>
                <% if(!request.player){ %>
                <div class="col-padded">
                    <input type="hidden" id="positions" name="positions" value="<%= request.positions%>">
                    Forwards <input type="checkbox" id="pos-f" value="clr" <% if(request.selected_positions.f) { %>checked="checked" <% } %> style="margin-right:5px;" />
                    Centres <input type="checkbox" id="pos-c" class="x-positions" value="c" <% if(request.selected_positions.c) { %>checked="checked" <% } %>  style="margin-right:5px;" />
                    LW <input type="checkbox" id="pos-l" class="x-positions" value="l" <% if(request.selected_positions.l) { %>checked="checked" <% } %>  style="margin-right:5px;" />
                    RW <input type="checkbox" id="pos-r" class="x-positions" value="r" <% if(request.selected_positions.r) { %>checked="checked" <% } %>  style="margin-right:5px;" />
                    Defence <input type="checkbox" id="pos-d" class="x-positions" value="d" <% if(request.selected_positions.d) { %>checked="checked" <% } %>  />
                </div>
                <div class="col-padded">
                    Min TOI:
                    <input type="text" id="min_toi" name="min_toi" placeholder="min" class="toi_minutes" maxlength="5"
                           value="<% if(request.min_toi !== null){%><%= request.min_toi %><% } %>" />
                    Max TOI:
                    <input type="text" id="max_toi" name="max_toi" placeholder="max" class="toi_minutes" maxlength="5"
                           value="<% if(request.max_toi !== null){%><%= request.max_toi %><% } %>" />
                </div>
                <% } %>
                <div class="col-padded">
                    <button type="button" class="btn btn-xs btn-success" id="woodmoney-submit"><strong>Go</strong></button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

    </div>
</div>

<!--Begin render table-->
<table id="puckiq" class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <% if(!player) { %>
                <th>Player</th>
                <th>Pos</th>
            <% } else { %>
                <th>Season</th>
            <% } %>
            <% if(!team){ %><th>Team</th><% } %>
            <th data-sorter="false">Comp</th>
            <th data-sorter="false">GT</th>
            <th data-sort="evtoi">TOI</th>

            <th data-sort="ctoipct">CTOI%</th>
            <th data-sort="cf">CF</th>
            <th data-sort="ca">CA</th>
            <th data-sort="cfpct">CF%</th>
            <th data-sort="cf60">CF/60</th>

            <th data-sort="ca60">CA/60</th>
            <th data-sort="cf60rc">CF60RC</th>
            <th data-sort="ca60rc">CA60RC</th>
            <th data-sort="cfpctrc">CF%RC</th>
            <th data-sort="dff">DFF</th>

            <th data-sort="dfa">DFA</th>
            <th data-sort="dffpct">DFF%</th>
            <th data-sort="dff60">DFF/60</th>
            <th data-sort="dfa60">DFA/60</th>
            <th data-sort="dff60rc">DFF60RC</th>

            <th data-sort="dfa60rc">DFA60RC</th>
            <th data-sort="dffpctrc">DFF%RC</th>
            <th data-sort="gf">GF</th>
            <th data-sort="ga">GA</th>
            <th data-sort="gfpct">GF%</th>

            <th data-sort="gf60">GF/60</th>
            <th data-sort="ga60">GA/60</th>
            <th data-sort="ozspct">OZS%</th>
            <th data-sort="fo60">FO/60</th>
        </tr>
    </thead>
    <tbody id="dataTable">
    <%
    for (var i = 0; i < results.length; i++) {
        renderTableRow(results[i]);
    }
    %>
    </tbody>
</table>

<!--End render table-->
<div style="text-align: center">
    <a href="<%= download_url %>" class="x-download">download csv</a>
</div>

<script>
    <%

    function renderTableRow(playerData) {
                var pd = playerData;
                var classname = '';
                //var classname = 'pos-' + pd['position'].toLowerCase() + ' woodmoney-' + pd['woodmoneytier'].toLowerCase() + ' hidden';
            %>
        <tr class="<%= classname %>">
            <% if(!player) { %>
            <td style="white-space: nowrap;"><a href="/players/<%=pd['player_id']%>"><%= pd['name']%></a></td>
            <td><%= pd['position']%></td>
            <% } else { %>
            <td><%= pd['season']%></td>
            <% } %>
            <% if(!team){ %><td><a href="/teams/<%= pd['team']%>"><%= pd['team']%></a></td><% } %>
            <td><%= pd['woodmoneytier']%></td>
            <td>All</td>
            <td><%= formatDecimal( pd['evtoi'], 2) %></td>

            <td><%= formatDecimal( pd['ctoipct'], 1)%></td>
            <td><%= formatDecimal( pd['cf'] )%></td>
            <td><%= formatDecimal( pd['ca'] )%></td>
            <td><%= formatDecimal( pd['cfpct'] )%></td>
            <td><%= formatDecimal( pd['cf60'], 1 )%></td>

            <td><%= formatDecimal( pd['ca60'], 1 )%></td>
            <td><%= formatDecimal( pd['cf60rc'] )%></td>
            <td><%= formatDecimal( pd['ca60rc'] )%></td>
            <td><%= formatDecimal( pd['cfpctrc'] )%></td>
            <td><%= formatDecimal( pd['dff'] )%></td>

            <td><%= formatDecimal( pd['dfa'] )%></td>
            <td><%= formatDecimal( pd['dffpct'] )%></td>
            <td><%= formatDecimal( pd['dff60'], 1 )%></td>
            <td><%= formatDecimal( pd['dfa60'], 1 )%></td>
            <td><%= formatDecimal( pd['dff60rc'] )%></td>

            <td><%= formatDecimal( pd['dfa60rc'] )%></td>
            <td><%= formatDecimal( pd['dffpctrc'] )%></td>
            <td><%= pd['gf']%></td>
            <td><%= pd['ga']%></td>
            <td><%= formatDecimal( pd['gfpct'] )%></td>

            <td><%= formatDecimal( pd['gf60'] )%></td>
            <td><%= formatDecimal( pd['ga60'] )%></td>
            <td><%= formatDecimal( pd['ozspct'] )%></td>
            <td><%= formatDecimal( pd['fo60'] )%></td>
        </tr>

    <%
    }

    function formatDecimal(val, no_decimals) {
        if(isNaN(no_decimals)) no_decimals = 2;
        return parseFloat("" + Math.round(val * 100) / 100).toFixed(no_decimals);
    }

    %>

    //used by woodmoney
    //TODO change
    var wmState = {
        request : <%- JSON.stringify(request) %>,
        team : <%- JSON.stringify(team) %>
    };

</script>

<script src="/puckiq/js/woodmoney.js"></script>

