<div class="columns team-dropdown" style="padding: 10px;">
    <div class="column">
        <div class="has-text-centered has-text-weight-bold">Atlantic</div>
        <a class="navbar-item" href="/<%= page_type %>?team=BOS" data-team="bos">BOS</a>
        <a class="navbar-item" href="/<%= page_type %>?team=BUF" data-team="buf">BUF</a>
        <a class="navbar-item" href="/<%= page_type %>?team=DET" data-team="det">DET</a>
        <a class="navbar-item" href="/<%= page_type %>?team=FLA" data-team="fla">FLA</a>
        <a class="navbar-item" href="/<%= page_type %>?team=MTL" data-team="mtl">MTL</a>
        <a class="navbar-item" href="/<%= page_type %>?team=OTT" data-team="ott">OTT</a>
        <a class="navbar-item" href="/<%= page_type %>?team=TBL" data-team="tbl">TBL</a>
        <a class="navbar-item" href="/<%= page_type %>?team=TOR" data-team="tor">TOR</a>
    </div>
    <div class="column">
        <div class="has-text-centered has-text-weight-bold">Metropolitan</div>
        <a class="navbar-item" href="/<%= page_type %>?team=CAR" data-team="car">CAR</a>
        <a class="navbar-item" href="/<%= page_type %>?team=CBJ" data-team="cbj">CBJ</a>
        <a class="navbar-item" href="/<%= page_type %>?team=NJD" data-team="njd">NJD</a>
        <a class="navbar-item" href="/<%= page_type %>?team=NYR" data-team="nyr">NYR</a>
        <a class="navbar-item" href="/<%= page_type %>?team=NYI" data-team="nyi">NYI</a>
        <a class="navbar-item" href="/<%= page_type %>?team=PHI" data-team="phi">PHI</a>
        <a class="navbar-item" href="/<%= page_type %>?team=PIT" data-team="pit">PIT</a>
        <a class="navbar-item" href="/<%= page_type %>?team=WSH" data-team="wsh">WSH</a>
    </div>
    <div class="column">
        <div class="has-text-centered has-text-weight-bold">Central</div>
        <a class="navbar-item" href="/<%= page_type %>?team=DAL" data-team="dal">DAL</a>
        <a class="navbar-item" href="/<%= page_type %>?team=CHI" data-team="chi">CHI</a>
        <a class="navbar-item" href="/<%= page_type %>?team=COL" data-team="col">COL</a>
        <a class="navbar-item" href="/<%= page_type %>?team=MIN" data-team="min">MIN</a>
        <a class="navbar-item" href="/<%= page_type %>?team=NSH" data-team="nsh">NSH</a>
        <a class="navbar-item" href="/<%= page_type %>?team=STL" data-team="stl">STL</a>
        <a class="navbar-item" href="/<%= page_type %>?team=WPG" data-team="wpg">WPG</a>
    </div>
    <div class="column">
        <div class="has-text-centered has-text-weight-bold">Pacific</div>
        <a class="navbar-item" href="/<%= page_type %>?team=ANA" data-team="ana">ANA</a>
        <a class="navbar-item" href="/<%= page_type %>?team=ARI" data-team="ari">ARI</a>
        <a class="navbar-item" href="/<%= page_type %>?team=CGY" data-team="cgy">CGY</a>
        <a class="navbar-item" href="/<%= page_type %>?team=EDM" data-team="edm">EDM</a>
        <a class="navbar-item" href="/<%= page_type %>?team=LAK" data-team="lak">LAK</a>
        <a class="navbar-item" href="/<%= page_type %>?team=SEA" data-team="sea">SEA</a>
        <a class="navbar-item" href="/<%= page_type %>?team=SJS" data-team="sjs">SJS</a>
        <a class="navbar-item" href="/<%= page_type %>?team=VAN" data-team="van">VAN</a>
        <a class="navbar-item" href="/<%= page_type %>?team=vgk" data-team="vgk">VGK</a>
    </div>
</div>
