<ul class="dropdown-menu columns-2 x-teams-dropdown-options">
    <li style="text-align: center;">View all teams</li>
    <li>
        <ul class="list-unstyled col-sm-6">
            <li>Atlantic</li>
            <li><a href="/<%= page_type %>?team=BOS" data-team="bos">BOS</a></li>
            <li><a href="/<%= page_type %>?team=BUF" data-team="buf">BUF</a></li>
            <li><a href="/<%= page_type %>?team=DET" data-team="det">DET</a></li>
            <li><a href="/<%= page_type %>?team=FLA" data-team="fla">FLA</a></li>
            <li><a href="/<%= page_type %>?team=MTL" data-team="mtl">MTL</a></li>
            <li><a href="/<%= page_type %>?team=OTT" data-team="ott">OTT</a></li>
            <li><a href="/<%= page_type %>?team=TBL" data-team="tbl">TBL</a></li>
            <li><a href="/<%= page_type %>?team=TOR" data-team="tor">TOR</a></li>
            <li role="separator" class="divider"></li>
        </ul>
        <ul class="list-unstyled col-sm-6">
            <li>Metropolitan</li>
            <li><a href="/<%= page_type %>?team=CAR" data-team="car">CAR</a></li>
            <li><a href="/<%= page_type %>?team=CBJ" data-team="cbj">CBJ</a></li>
            <li><a href="/<%= page_type %>?team=NJD" data-team="njd">NJD</a></li>
            <li><a href="/<%= page_type %>?team=NYR" data-team="nyr">NYR</a></li>
            <li><a href="/<%= page_type %>?team=NYI" data-team="nyi">NYI</a></li>
            <li><a href="/<%= page_type %>?team=PHI" data-team="phi">PHI</a></li>
            <li><a href="/<%= page_type %>?team=PIT" data-team="pit">PIT</a></li>
            <li><a href="/<%= page_type %>?team=WSH" data-team="wsh">WSH</a></li>
            <li role="separator" class="divider"></li>
        </ul>
        <ul class="list-unstyled col-sm-6">
            <li>Central</li>
            <li><a href="/<%= page_type %>?team=DAL" data-team="dal">DAL</a></li>
            <li><a href="/<%= page_type %>?team=CHI" data-team="chi">CHI</a></li>
            <li><a href="/<%= page_type %>?team=COL" data-team="col">COL</a></li>
            <li><a href="/<%= page_type %>?team=MIN" data-team="min">MIN</a></li>
            <li><a href="/<%= page_type %>?team=NSH" data-team="nsh">NSH</a></li>
            <li><a href="/<%= page_type %>?team=STL" data-team="stl">STL</a></li>
            <li><a href="/<%= page_type %>?team=WPG" data-team="wpg">WPG</a></li>
        </ul>
        <ul class="list-unstyled col-sm-6">
            <li>Pacific</li>
            <li><a href="/<%= page_type %>?team=ANA" data-team="ana">ANA</a></li>
            <li><a href="/<%= page_type %>?team=ARI" data-team="ari">ARI</a></li>
            <li><a href="/<%= page_type %>?team=CGY" data-team="cgy">CGY</a></li>
            <li><a href="/<%= page_type %>?team=EDM" data-team="edm">EDM</a></li>
            <li><a href="/<%= page_type %>?team=LAK" data-team="lak">LAK</a></li>
            <li><a href="/<%= page_type %>?team=SJS" data-team="sjs">SJS</a></li>
            <li><a href="/<%= page_type %>?team=VAN" data-team="van">VAN</a></li>
            <li><a href="/<%= page_type %>?team=vgk" data-team="vgk">VGK</a></li>
        </ul>
    </li>
</ul>
