<form class="filters-form x-wm-filters" method="get">
    <input type="hidden" id="sort" name="sort" value="<%= request.sort %>" />
    <input type="hidden" id="sort_direction" name="sort_direction" value="<%= request.sort_direction %>" />
    <div class="level">
        <div class=level-left">
            <input id="player-id" type="hidden" value="<%= request.player || '' %>" />
            <input id="sort" type="hidden" value="" />
            <input id="seasons" name="seasons" type="hidden" value="" />

            <% if(!player) { %>
            <div style="display: flex; flex-direction: row;">
                Select season(s):
                <div id="selected-seasons">
                    <div class="tag is-light <%= !!~request.seasons.indexOf(20212022) ? 'selected' : '' %>" data-season="20212022">2021-22</div>
                    <div class="tag is-light <%= !!~request.seasons.indexOf(20202021) ? 'selected' : '' %>" data-season="20202021">2020-21</div>
                    <div class="tag is-light <%= !!~request.seasons.indexOf(20192020) ? 'selected' : '' %>" data-season="20192020">2019-20</div>
                    <div class="tag is-light <%= !!~request.seasons.indexOf(20182019) ? 'selected' : '' %>" data-season="20182019">2018-19</div>
                    <div class="tag is-light <%= !!~request.seasons.indexOf(20172018) ? 'selected' : '' %>" data-season="20172018">2017-18</div>
                </div>
            </div>
            <% } %>

            <span id="show-date-range" style="padding-left: 10px; <% if(!request.from_date && !request.to_date) { %> display: none;<% } %>" >
                <span><%= request.from_date_str + " to " + request.to_date_str %></span>
                <a href="#change" class="x-change-date-range">change</a>
            </span>

            <div id="date-range-modal" class="modal" style="height: 340px;">
                <h4 class="subtitle is-5">Select date range for games</h4>
                From: <input type="text" class="x-date-range" id="dp-from" data-target="from_date" />
                To: <input type="text" class="x-date-range" id="dp-to" data-target="to_date" />
                <button class="button is-extra-small is-success x-date-range-submit"><strong>Go</strong></button>
                <div class="col-padded x-date-error" style="padding-top: 17px; color: Red; display:none;">
                </div>
            </div>
            <!--not sure why this has to be outside modal div -->
            <input type="hidden" id="from_date" name="from_date" value="" />
            <input type="hidden" id="to_date" name="to_date" value="" />
        </div>
    </div>
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <select id="shift_type" class="select is-small" name="shift_type">
                    <option value="" <% if(!request.shift_type) { %>selected <% } %>>--shift type</option>
                    <option value="all" <% if(request.shift_type === "all") { %>selected <% } %>>All</option>
                    <option value="ostart" <% if(request.shift_type === "ostart") { %>selected <% } %>>Offensive Zone Start</option>
                    <option value="nstart" <% if(request.shift_type === "nstart") { %>selected <% } %>>Neutral Zone Start</option>
                    <option value="dstart" <% if(request.shift_type === "dstart") { %>selected <% } %>>Defensive Zone Start</option>
                    <option value="otf" <% if(request.shift_type === "otf") { %>selected <% } %>>On the Fly</option>
                </select>
            </div>

            <% if(!request.player){ %>
                <div class="level-item position-picker">
                    <input type="hidden" id="positions" name="positions" value="<%= request.positions%>">
                    <label class="checkbox">
                        <input type="checkbox" id="pos-f" value="clr" <% if(request.selected_positions.f) { %>checked="checked" <% } %> />
                        Forwards
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="pos-c" class="x-positions" value="c" <% if(request.selected_positions.c) { %>checked="checked" <% } %>  />
                        Centres
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="pos-l" class="x-positions" value="l" <% if(request.selected_positions.l) { %>checked="checked" <% } %>  />
                        LW
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="pos-r" class="x-positions" value="r" <% if(request.selected_positions.r) { %>checked="checked" <% } %>  />
                        RW
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="pos-d" class="x-positions" value="d" <% if(request.selected_positions.d) { %>checked="checked" <% } %>  />
                        Defence
                    </label>
                </div>
            <% } %>

        </div>
    </div>
    <div class="level-left" style="padding-top: 7px;">
        <div class="level-item">
            <select id="team" class="select is-small" name="team">
                <option value="" <% if(!request.team) { %>selected <% } %>>--All Teams</option>
                <% for (var i = 0; i < teams.length; i++) { %>
                    <option value="<%= teams[i]._id %>" <% if(request.team === teams[i]._id) { %>selected <% } %>><%= teams[i].name %></option>
                <% } %>
            </select>
        </div>
        <% if(!request.player){ %>
        <div class="level-item">
                Min TOI:
                <input type="text" id="min_toi" name="min_toi" placeholder="min" class="input is-small toi_minutes" maxlength="5"
                       value="<% if(request.min_toi !== null){%><%= request.min_toi %><% } %>" />
                Max TOI:
                <input type="text" id="max_toi" name="max_toi" placeholder="max" class="input is-small toi_minutes" maxlength="5"
                       value="<% if(request.max_toi !== null){%><%= request.max_toi %><% } %>" />
            </div>
        <% } %>
        <div class="level-item">
            Group By:
            <select id="group_by" class="select is-small" name="group_by">
                <option value="player_season_team" <% if(!request.group_by) { %>selected <% } %>>Player/Season/Team</option>
                <option value="player_season" <% if(request.group_by === "player_season") { %>selected <% } %>>Player/Season</option>
                <option value="player_team" <% if(request.group_by === "player_team") { %>selected <% } %>>Player/Team</option>
                <option value="player" <% if(request.group_by === "player") { %>selected <% } %>>Player</option>
            </select>
        </div>
        <div class="level-item">
            <button type="button" class="button is-extra-small is-success x-woodmoney-submit"><strong>Go</strong></button>
        </div>
        <div class="level-item">
            <a href="#" class="x-toggle-chart"></a>
        </div>
    </div>
</form>
