
      <div class="container-fluid" role="main">
        <div class="page-header">
            <br><br><br>
<% renderMenu(name, position) %>
              <div class="row">
                <div class="col-md-12">
                </div>
              </div>
          </div>
        </div>
<% renderTable(playerStats) %>
      <div style="text-align: center">
          <a href="#todo" class="x-download">download csv</a>
      </div>

<script>
function refreshTableFiltering() {

    var tier = $('#competition').val();

    if (tier) {
        $('#puckiq tbody tr').addClass('hidden');
        $('.woodmoney-' + tier).removeClass('hidden');
    } else {
        $('#puckiq tbody tr').removeClass('hidden');
    }

    refreshTableStyles();

    let player_id = '<%= player_id %>';
    $('.x-download').attr('href', '/players/' + player_id + '/download?woodmoneytier=' + tier);
}

function refreshTableStyles() {
    $('#puckiq tbody tr:visible td').css('background', '#efefef');
    $('#puckiq tbody tr:visible:even td').css('background', '#d8f0ff');
}

function updateSeasonOnPageRender() {
    $('#season-input').val('%= seasonId %')
    $('#season-input').hide()

    $('#season-title').mouseover(function() {
        $('#season-input').show()
        $('#season-title').hide()
    })

    $('#season-input').mouseout(function() {
        $('#season-input').hide()
        $('#season-title').show()
    })

    $('#season-input').change(function () {
        var newSeason = $('#season-input').val()
        window.location = redirectToSeason(newSeason)
    })
}

function redirectToSeason(seasonId) {
    var url = window.location.href;
    if (url.indexOf('season=') > -1) {
        url = url.replace(/season=\d+/, 'season=' + seasonId)
    } else {
        url += (url.indexOf('season=') = -1) ? '?' : '&'
        url += 'season=' + seasonId
    }
    return url
}

function onPositionsChange() {
    var forwardPosSelected = $('#pos-c:checked, #pos-l:checked, #pos-r:checked').length;
    $('#pos-f').prop('checked', forwardPosSelected == 3);
}

function onForwardChange() {
    var fSelected = $('#pos-f').is(':checked');
    $('#pos-c,#pos-l,#pos-r').prop('checked', fSelected);
}

$(function() {
    $("#puckiq").tablesorter({
        sortList: [[1,1]],
        //sortInitialOrder  : 'desc',
        widgets           : ['columns'],
    }).bind("sortEnd", refreshTableStyles)

    $("[name=positions]").change(onPositionsChange);
    $("#pos-f").change(onForwardChange);

    $("#competition").change(refreshTableFiltering);
    $("[name=positions]").change(refreshTableFiltering);
    $("#pos-f").change(refreshTableFiltering);

    updateSeasonOnPageRender();
    refreshTableFiltering();
})
</script>
<style>
body table {
    font-size: 12px;
    color: black;
}

table {
    margin: 0 0 0 16px;
}

tr.hidden {
    display:none;
}

.page-header {
    margin: 0px;
    border-bottom: none;
}

.page-header h2 {
    margin: 0px;
}

.page-header h4 {
    margin: 0 0 16px 0;
}
<%
function renderMenu(playerName, playerPosition) {
  %>
            <h2><%= playerName %> - <%= playerPosition %></h2>
            <br>
            <div class="row">
                <div class="col-md-4">
                Competition :
                <select name="competition" id="competition">
                  <option value="" selected>--select</option>
                  <option value="all">All</option>
                  <option value="elite">Elite</option>
                  <option value="middle">Middle</option>
                  <option value="gritensity">Gritensity</option>
                </select>
                <button type="button" class="btn btn-xs btn-success" id="CompSelectSubmit"><strong>Go</strong></button>
                </div>
            </div>
   <%
}

function renderTable(allSeasons) {
    %>
                  <table class="table table-bordered table-condensed table-hover" id="puckiq">
                    <thead>
                      <tr>
                        <th>Team</th>
                        <th>Season</th>
                        <th data-sorter="false">Comp</th>
                        <th data-sorter="false">GT</th>
                        <th>TOI</th>
                        <th>CTOI%</th>
                        <th>CF</th>
                        <th>CA</th>
                        <th>CF%</th>
                        <th>CF/60</th>
                        <th>CA/60</th>
                        <th>CF60RC</th>
                        <th>CA60RC</th>
                        <th>CF%RC</th>
                        <th>DFF</th>
                        <th>DFA</th>
                        <th>DFF%</th>
                        <th>DFF/60</th>
                        <th>DFA/60</th>
                        <th>DFF60RC</th>
                        <th>DFA60RC</th>
                        <th>DFF%RC</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GF%</th>
                        <th>GF/60</th>
                        <th>GA/60</th>
                      </tr>
                    </thead>
                    <tbody id="dataTable">
     <%
            for (var i = 0; i < allSeasons.length; i++) {
                renderTableRow(allSeasons[i])
            }
    %>
                    </tbody>
              </table>
<%
}

function renderTableRow(playerData) {
    var pd = playerData;
    var classname = ' woodmoney-' + pd['woodmoneytier'].toLowerCase() + ' hidden';
    %>
                    <tr class="<%= classname %>">
                        <td><a href="/teams/<%= pd['team'] %>?season=<%= pd['seasonId'] %>"><%= pd['team'] %></a></td>
                        <td><%= pd['season'] %></td>
                        <td><%= pd['woodmoneytier']%></td>
                        <td>All</td>
                        <td><%= formatDecimal( pd['evtoi'], 2) %></td>
                        <td><%= formatDecimal( pd['ctoipct'], 1)%></td>
                        <td><%= formatDecimal( pd['cf'] )%></td>
                        <td><%= formatDecimal( pd['ca'] )%></td>
                        <td><%= formatDecimal( pd['cfpct'] )%></td>
                        <td><%= formatDecimal( pd['cf60'], 1 )%></td>
                        <td><%= formatDecimal( pd['ca60'], 1 )%></td>
                        <td><%= formatDecimal( pd['cf60rc'] )%></td>
                        <td><%= formatDecimal( pd['ca60rc'] )%></td>
                        <td><%= formatDecimal( pd['cfpctrc'] )%></td>
                        <td><%= formatDecimal( pd['dff'] )%></td>
                        <td><%= formatDecimal( pd['dfa'] )%></td>
                        <td><%= formatDecimal( pd['dffpct'] )%></td>
                        <td><%= formatDecimal( pd['dff60'], 1 )%></td>
                        <td><%= formatDecimal( pd['dfa60'], 1 )%></td>
                        <td><%= formatDecimal( pd['dff60rc'] )%></td>
                        <td><%= formatDecimal( pd['dfa60rc'] )%></td>
                        <td><%= formatDecimal( pd['dffpctrc'] )%></td>
                        <td><%= pd['gf']%></td>
                        <td><%= pd['ga']%></td>
                        <td><%= formatDecimal( pd['gfpct'] )%></td>
                        <td><%= formatDecimal( pd['gf60'] )%></td>
                        <td><%= formatDecimal( pd['ga60'] )%></td>
                      </tr>

    <%
}

function formatDecimal(val, no_decimals) {
    if(isNaN(no_decimals)) no_decimals = 2;
    return parseFloat("" + Math.round(val * 100) / 100).toFixed(no_decimals);
}
%>
